.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    width: 40vmin;
    height: 40vmin;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    margin-top: 20vmin;
    margin-bottom: 20vmin;
  }

.subsequentBox {
    margin-top: 5vmin;
    width: 100%;
}